{
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 100,
  "arrowParens": "always",
  "trailingComma": "none",
  "semi": true,
  "useTabs": false,
  "endOfLine": "lf",
  "tailwindConfig": "./tailwind.config.js"
}
